<nb-layout *ngIf="sorteios.length">
  <nb-layout-column>
    <nb-card>
      <nb-card-header
        >Consulta de Sorteios Cadastrados
        <button nbButton class="button-success" routerLink="../sorteio">
          <nb-icon icon="folder-add-outline"></nb-icon></button
      ></nb-card-header>
      <nb-card-body>
        <!-- Filtros -->
        <div class="filters">
          <form [formGroup]="filtroForm" class="form-inline">
            <div class="filter-row">
              <div class="form-group">
                <label for="filtroEdicao">Edição</label>
                <input
                  nbInput
                  fullWidth
                  size="small"
                  placeholder="Filtrar por Edição"
                  formControlName="filtroEdicao"
                />
              </div>
              <div class="form-group">
                <label for="filtroData">Data do Sorteio</label>
                <input
                  nbInput
                  fullWidth
                  type="date"
                  size="small"
                  formControlName="filtroData"
                />
              </div>

              <div class="form-group">
                <label for="influencerSelect">Selecionar Influencer</label>
                <nb-select
                  fullWidth
                  placeholder="Selecione o Influencer"
                  formControlName="filtroInfluencerSelecionado"
                  size="small"
                >
                  <nb-option
                    *ngFor="let influencer of influencersFiltrados"
                    [value]="influencer.nome_completo"
                  >
                    {{ influencer.nome_completo }}
                  </nb-option>
                </nb-select>
              </div>
            </div>

            <div class="filter-actions">
              <button
                nbButton
                status="primary"
                size="small"
                (click)="aplicarFiltros()"
              >
                Aplicar Filtros
              </button>
              <button
                nbButton
                status="warning"
                size="small"
                (click)="limparFiltros()"
              >
                Limpar Filtros
              </button>
            </div>
          </form>
        </div>

        <!-- Tabela de Resultados -->
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Edição</th>
                <th>Data do Sorteio</th>
                <th>Produto</th>
                <th>Prêmio Principal</th>
                <th>Influencer</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sorteio of sorteiosPaginados; let i = index">
                <td>{{ sorteio.edicao }}</td>
                <td>{{ sorteio.data_sorteio | date : "d/M/yy" }}</td>
                <td>{{ sorteio.produto }}</td>
                <td>{{ sorteio.premio_principal }}</td>
                <td>{{ sorteio.nome_completo }}</td>
                <td>
                  <button (click)="editarSorteio(sorteio.edicao)" nbButton>
                    <nb-icon icon="edit-2-outline"></nb-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Paginação -->
        <div class="pagination">
          <button
            nbButton
            status="primary"
            (click)="paginaAnterior()"
            [disabled]="paginaAtual === 1"
          >
            Anterior
          </button>
          <span>Página {{ paginaAtual }} de {{ totalPaginas }}</span>
          <button
            nbButton
            status="primary"
            (click)="proximaPagina()"
            [disabled]="paginaAtual === totalPaginas"
          >
            Próxima
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>

<div
  [nbSpinner]="sorteios.length === 0"
  nbSpinnerStatus="warning"
  *ngIf="sorteios.length === 0"
  nbSpinnerSize="giant"
  class="spinner"
></div>
