<nb-card>
  <nb-card-header>{{ textInit }} a Capitalizadora</nb-card-header>
  <nb-card-body>
    <nb-select
      placeholder="Selecione uma capitalizadora"
      size="large"
      [(selected)]="selectedCapitalizadora"
    >
      <nb-option
        *ngFor="let it of capitalizadoras"
        value="{{ it.razao_social }}"
        >{{ it.razao_social }}</nb-option
      >
    </nb-select>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary" (click)="submit()">Confirmar</button>
  </nb-card-footer>
</nb-card>
