<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header
        >Consulta de Integradoras Cadastradas
        <button
          nbButton
          class="button-success"
          routerLink="../cadastros-integradora-pix"
        >
          <nb-icon icon="folder-add-outline"></nb-icon></button
      ></nb-card-header>
      <nb-card-body>
        <!-- Tabela de Resultados -->
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Nome Contato</th>
                <th>Fone Contato</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let capitalizadora of integradorasPaginadas;
                  let i = index
                "
              >
                <td>{{ capitalizadora.razao_social }}</td>
                <td>{{ capitalizadora.contato }}</td>
                <td>{{ capitalizadora.fone_contato }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Paginação -->
        <div class="pagination">
          <button
            nbButton
            status="primary"
            (click)="paginaAnterior()"
            [disabled]="paginaAtual === 1"
          >
            Anterior
          </button>
          <span>Página {{ paginaAtual }} de {{ totalPaginas }}</span>
          <button
            nbButton
            status="primary"
            (click)="proximaPagina()"
            [disabled]="paginaAtual === totalPaginas"
          >
            Próxima
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
