<form [formGroup]="detalhadoForm" (ngSubmit)="onSubmit()">
  <h4>Dados do Sorteio</h4>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="edicao">Edição *</label>
      <input nbInput fullWidth placeholder="Edição" formControlName="edicao" />
    </div>
    <div class="form-group col-md-3">
      <label for="nome_sorteio">Nome do Sorteio *</label>
      <input
        nbInput
        fullWidth
        placeholder="Nome do Sorteio"
        formControlName="nome_sorteio"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="data_sorteio">Data do Sorteio *</label>
      <input nbInput fullWidth type="date" formControlName="data_sorteio" />
    </div>
    <div class="form-group col-md-3">
      <label for="data_inicio_vendas">Data de Início *</label>
      <input
        nbInput
        fullWidth
        type="date"
        formControlName="data_inicio_vendas"
      />
    </div>
  </div>

  <h4>Informações Financeiras</h4>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="valor_transacao">Quantidade de vendidos *</label>
      <input
        nbInput
        fullWidth
        placeholder="Quantidade de vendido"
        formControlName="valor_transacao"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="valor_venda_titulo">Valor de Venda *</label>
      <input
        nbInput
        fullWidth
        placeholder="Valor de Venda"
        formControlName="valor_venda_titulo"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="premiacao_bruta">Prêmio Bruto *</label>
      <input
        nbInput
        fullWidth
        placeholder="Prêmio Bruto"
        formControlName="premiacao_bruta"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="resgate">Percentual de Resgate *</label>
      <input
        nbInput
        fullWidth
        placeholder="Percentual de Resgate"
        formControlName="resgate"
      />
    </div>
  </div>

  <h4>Informações de Prêmios</h4>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="premio_principal">Prêmio Principal *</label>
      <input
        nbInput
        fullWidth
        placeholder="Prêmio Principal"
        formControlName="premio_principal"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="prêmio_liquido">Prêmio Líquido *</label>
      <input
        nbInput
        fullWidth
        placeholder="Prêmio Líquido"
        formControlName="premio_liquido"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="ir_sobre_premio">IR sobre Prêmio *</label>
      <input
        nbInput
        fullWidth
        placeholder="IR sobre Prêmio"
        formControlName="ir_sobre_premio"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="ir_titulos_premiados">IR sobre premiados (%) *</label>
      <input
        nbInput
        fullWidth
        placeholder="Taxa de IR"
        formControlName="ir_titulos_premiados"
      />
    </div>
  </div>

  <h4>Outras Informações</h4>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="serie">Série *</label>
      <nb-select
        fullWidth
        placeholder="Selecione a serie"
        formControlName="serie"
      >
        <nb-option value="1-100.000">R$1 - 100.000</nb-option>
        <nb-option value="2000-3000">R$1 - 500.000</nb-option>
        <nb-option value="1-1.000.000">R$1 - 1.000.000</nb-option>
        <nb-option value="1-1.000.000">R$1 - 10.000.000</nb-option>
      </nb-select>
    </div>
    <div class="form-group col-md-3">
      <label for="entidade">Entidade *</label>
      <nb-select
        fullWidth
        placeholder="Selecione a Entidade"
        formControlName="id_entidade"
      >
        <nb-option
          *ngFor="let entidade of entidades"
          value="{{ entidade.id }}"
          >{{ entidade.razao_social }}</nb-option
        >
      </nb-select>
    </div>
    <div class="form-group col-md-3">
      <label for="banco">Banco *</label>
      <nb-select
        fullWidth
        placeholder="Selecione o banco"
        formControlName="banco"
      >
        <nb-option *ngFor="let banco of bancos" value="{{ banco.codigo }}">{{
          banco.nome
        }}</nb-option>
      </nb-select>
    </div>
    <div class="form-group col-md-3">
      <label for="distribuidor">Distribuidor *</label>
      <input
        nbInput
        fullWidth
        placeholder="Distribuidor"
        formControlName="distribuidor"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="plataforma_vendas">Plataforma de Vendas *</label>
      <input
        nbInput
        fullWidth
        placeholder="Plataforma de Vendas"
        formControlName="plataforma_vendas"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="processo_susepe">Processo Susepe *</label>
      <input
        nbInput
        fullWidth
        placeholder="Processo Susepe"
        formControlName="processo_susepe"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="transacoes_bancarias">Transações Bancárias *</label>
      <input
        nbInput
        fullWidth
        placeholder="Transações Bancárias"
        formControlName="transacoes_bancarias"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="per_regularidade">Percentual de Regularidade *</label>
      <input
        nbInput
        fullWidth
        placeholder="Regularidade"
        formControlName="per_regularidade"
      />
    </div>

    <div class="form-group col-md-3">
      <label for="vendidos">Vendidos *</label>
      <input
        nbInput
        fullWidth
        placeholder="vendidos"
        formControlName="vendidos"
      />
    </div>
  </div>

  <div class="form-actions">
    <button
      nbButton
      status="success"
      type="submit"
      [disabled]="!detalhadoForm.valid"
    >
      Salvar
    </button>
  </div>
</form>
