.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

:host nb-tab {
  padding: 1.25rem;
}

nb-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h4 {
  margin-top: 24px;
  margin-bottom: 12px;
  text-align: justify;
  font-size: 1.2rem;
  color: #3a3a3a;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 20px;
}

.form-group ul {
  list-style-type: none;
  padding-left: 0;
}

.form-group li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.form-group li button {
  margin-left: 10px;
}

[nbInput].shape-rectangle {
  margin-bottom: 1rem;
}

.button-success {
  background-color: #38b53f !important;
  color: aliceblue !important;
}

::ng-deep
  nb-layout
  .layout
  .layout-container
  .content
  .columns
  nb-layout-column {
  padding: 18px !important;
}

.btn-wd {
  width: 10rem;
  margin-top: 1rem;
}

ul {
  border-bottom: solid 1px #b9d5ff;
  margin-bottom: 2rem;
}

.em-construcao {
  text-align: center;
  padding: 2rem;
  nb-icon {
    font-size: 2rem;
  }

  h3 {
    color: #818181;
  }
}

textarea {
  min-height: 21rem;
}

::ng-deep nb-alert {
  width: 23rem;
  float: right;
  right: 2rem;
  position: fixed !important;
  top: 5rem;
}
