<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>Cadastro da Integradora Pix</nb-card-header>
      <nb-card-body>
        <form [formGroup]="integradoraPixForm" (ngSubmit)="onSubmit()">
          <!-- Exibe lista de campos inválidos no topo -->
          <div *ngIf="invalidFields.length > 0">
            <p class="text-danger">
              Campos inválidos: {{ invalidFields.join(", ") }}
            </p>
          </div>

          <!-- Dados da Capitalizadora -->
          <h4>Dados da Integradora Pix</h4>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="razao_social">Nome *</label>
              <input
                nbInput
                fullWidth
                placeholder="Nome"
                formControlName="razao_social"
              />
              <div
                *ngIf="
                  integradoraPixForm.get('razao_social')?.invalid &&
                  integradoraPixForm.get('razao_social')?.touched
                "
              >
                <small class="text-danger">Nome é obrigatório.</small>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="contato">Nome Contato*</label>
              <input
                nbInput
                fullWidth
                placeholder="Nome contato"
                formControlName="contato"
              />
              <div
                *ngIf="
                  integradoraPixForm.get('contato')?.invalid &&
                  integradoraPixForm.get('contato')?.touched
                "
              >
                <small class="text-danger">Nome contato é obrigatório.</small>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="fone_contato">Celular Contato </label>
              <input
                nbInput
                fullWidth
                placeholder="Celular Contato"
                formControlName="fone_contato"
                mask="(00) 00000-0000"
              />
              <div
                *ngIf="
                  integradoraPixForm.get('fone_contato')?.invalid &&
                  integradoraPixForm.get('fone_contato')?.touched
                "
              >
                <small class="text-danger"
                  >Telefone contato é obrigatório.</small
                >
              </div>
            </div>
          </div>

          <!-- Botão de submissão -->
          <div class="form-actions">
            <button
              nbButton
              class="button-success"
              type="submit"
              [disabled]="!integradoraPixForm.valid"
            >
              Salvar Dados
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
