<!-- app.component.html -->
<div id="pdf-content" class="document-container">
  <h3 class="title">DECLARAÇÃO DE RESIDÊNCIA</h3>

  <p>
    Eu,
    _________________________________________________________________________,
  </p>
  <p>
    NACIONALIDADE:
    _____________________________________________________________,
  </p>
  <p>
    PROFISSÃO:
    _________________________________________________________________,
  </p>
  <p>
    ESTADO CIVIL:
    ________________________________________________________________,
  </p>
  <p>
    TELEFONE:
    ___________________________________________________________________,
  </p>

  <p>
    INSCRITO NO CPF N.:
    __________________________________________________________,
  </p>
  <p>
    Resido na RUA:
    ________________________________________________________________,
  </p>
  <p>Nº: ________ BAIRRO: ___________________________________</p>
  <p>CIDADE: ____________________________ ESTADO: __________________</p>
  <p>CEP: ___________________</p>

  <p class="final-statement">
    Por ser expressão de verdade, firmo a presente declaração para que surta
    seus efeitos legais.
  </p>

  <p class="date-area">________/________/20________</p>

  <p>Assinatura: ___________________________________________</p>
  <p>NOME SOCIAL: ___________________________________________</p>
  <p>NOME COMPLETO: ___________________________________________</p>
</div>

<button (click)="generatePDF()">Exportar para PDF</button>
