<div class="login-container">
  <div class="login-form">
    <img
      src="../../../assets/logo.png"
      alt="Logo Dahora"
      style="width: 183px; margin: 0 auto 1rem; display: block"
    />
    <nb-card>
      <nb-card-body>
        <h2 class="title">Bem-vindo</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <nb-form-field>
            <input
              nbInput
              fullWidth
              placeholder="Usuário"
              formControlName="username"
            />
          </nb-form-field>
          <nb-form-field>
            <input
              nbInput
              fullWidth
              placeholder="Senha"
              formControlName="password"
              type="password"
            />
          </nb-form-field>

          <button nbButton fullWidth>Entrar</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
