.delete {
  display: flex;
  margin-bottom: 1rem;
  align-items: flex-end;
  justify-content: space-between;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 2rem;
  align-items: center;
}

.item-div {
  width: 20%;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h4 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 1.2rem;
  color: #3a3a3a;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 20px;
}

.form-group ul {
  list-style-type: none;
  padding-left: 0;
}

.form-group li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.form-group li button {
  margin-left: 10px;
}

[nbInput].shape-rectangle {
  margin-bottom: 1rem;
}

.button-success {
  background-color: #38b53f !important;
  color: aliceblue !important;
}

::ng-deep
  nb-layout
  .layout
  .layout-container
  .content
  .columns
  nb-layout-column {
  padding: 18px !important;
}

.btn-wd {
  width: 10rem;
  margin-top: 1rem;
}

ul {
  border-bottom: solid 1px #b9d5ff;
  margin-bottom: 2rem;
}

.nb-select {
  margin-bottom: 1rem;
}

.text-danger {
  color: #ff4d4f;
  font-size: 0.875rem;
}

.button-danger {
  background-color: #ff4d4f !important;
  color: aliceblue !important;
}

.form-row .col-md-4,
.form-row .col-md-6 {
  flex-basis: calc(33.333% - 16px); /* Ajuste para colunas de 3 partes */
  max-width: calc(33.333% - 16px);
}

.form-row .col-md-12 {
  flex-basis: 100%;
}

.form-row .col-md-6 {
  flex-basis: calc(50% - 16px); /* Ajuste para colunas de 2 partes */
  max-width: calc(50% - 16px);
}

input[type="file"] {
  display: none;
}

form p.text-danger {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.divider {
  border-bottom: solid 1px #b9d5ff;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .form-row .col-md-4,
  .form-row .col-md-6,
  .form-row .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
